.h1 {
  color: whitesmoke;
  text-align: center;
  font-size: 2.4rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.label {
  color: whitesmoke;
}

.input {
  color: white;
  background-color: rgba(245, 245, 245, 0.1);
  padding: 4px 8px;
  border-radius: 4px;
  border: solid 1px white;
}

input:focus {
  border: solid 1px var(--color-purple);
}

.button {
  margin-top: 2rem;

  color: whitesmoke;
  font-family: var(--font-teko);
  font-size: 1.6rem;
  background-color: black;
  padding: 2px 16px 0 16px;
  border: 1px solid var(--color-purple);
  border-radius: 8px;
}
