.main {
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 8rem;
}

.h2 {
  text-align: center;
  font-size: 2.8rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.p {
  text-align: center;
  max-width: 60%;
}

@media (width < 600px) {
  .p {
    max-width: 90%;
  }
}
