.h2{
    text-align: center;
    font-size:2rem;
}

.form{
    display: flex;
    flex-direction: column;
    gap:.4rem;
    align-items:center;
}

.label{
    margin-top:.8rem;
}

.input{
  color: white;
  background-color: rgba(245, 245, 245, 0.1);
  padding: 4px 8px;
  border-radius: 4px;
  border: solid 1px white;
}

.area{
  color: white;
  background-color: rgba(245, 245, 245, 0.1);
  padding: 4px 8px;
  border-radius: 4px;
  border: solid 1px white;
  min-height: 8rem;
  min-width:30vw;
}

.button{
    margin-top:1.2rem;
  color: whitesmoke;
  font-family: var(--font-teko);
  font-size: 1.6rem;
  background-color: black;
  padding: 2px 16px 0 16px;
  border: 1px solid var(--color-purple);
  border-radius: 8px;
}

.button:hover {
  cursor: pointer;
  color: var(--color-purple);
}