.h2 {
  font-size: 2.4rem;
  text-align: center;
  margin: 0 12rem;
  margin-bottom: 2.8rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  font-size: 1.6rem;
}

.select {
  border: 1px solid whitesmoke;
  border-radius: 0.8rem;
  padding: 0.4rem 1rem;
}

.button {
  margin-top: 1.6rem;
  color: whitesmoke;
  font-family: var(--font-teko);
  font-size: 1.6rem;
  background-color: black;
  padding: 2px 16px 0 16px;
  border: 1px solid var(--color-purple);
  border-radius: 8px;
}

.button:hover {
  cursor: pointer;
  color: var(--color-purple);
}

@media (width < 600px) {
  .h2 {
    font-size: 1.2rem;
    margin: 2rem;
    margin-bottom: 1.2rem;
  }
  .label {
    font-size: 1.2rem;
  }
  .select {
    font-size: 1.2rem;
  }
  .button {
    margin-top: 0.8rem;
  }
}
