@import "tailwindcss";

:root {
  --color-text: rgb(252, 252, 252);
  --color-bg: rgb(40, 40, 40);
  --color-purple: rgb(175, 0, 190);
}

* {
  background-color: var(--color-bg);
  font-family: var(--font-quicksand);
}
