.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.h2 {
  margin: 2.8rem;
  font-size: 2.8rem;
}

.link {
  color: whitesmoke;
  font-family: var(--font-teko);
  font-size: 1.6rem;
  background-color: black;
  padding: 2px 16px 0 16px;
  border: 1px solid var(--color-purple);
  border-radius: 8px;
}

.link:hover {
  cursor: pointer;
  color: var(--color-purple);
}
