.main {
  background-color: var(--color-bg);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.h2 {
  text-align: center;
  font-size: 2.8rem;
  margin-top: 2rem;
}

.welcome {
  text-align: center;
  font-size: 2rem;
  margin-top: 2rem;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  margin-top: 2rem;
}

.button {
  margin-top: 1.6rem;
  color: whitesmoke;
  font-family: var(--font-teko);
  font-size: 1.6rem;
  background-color: black;
  padding: 2px 16px 0 16px;
  border: 1px solid var(--color-purple);
  border-radius: 8px;
}

.button:hover {
  cursor: pointer;
  color: var(--color-purple);
}

@media (width < 600px) {
  .h2 {
    font-size: 1.6rem;
    margin-top: 2rem;
  }
  .welcome {
    font-size: 1.2rem;
    margin-top: 2rem;
  }
}
