.button {
  position: absolute;
  top: 0.8rem;
  left: 0.8rem;
}

.dropdown {
  background-color: black;
  border: solid 1px rgba(245, 245, 245, 0.4);
  position: absolute;
  left: 4rem;
  width: 8rem;
}

.link{
  font-size:1.2rem;
  margin-left:6rem;
}

.link:hover{
  color: var(--color-purple);
}
