.header {
  background-color: var(--color-bg);
  height: 16vh;
  position: relative;
  /* display: flex;
  justify-content: space-around;
  align-items: center; */
}

.h1 {
  text-align: center;
  font-size: 4.8rem;
  font-weight: 400;
  font-family: var(--font-teko);
  color: var(--color-purple);
}

.links {
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.link {
  color: whitesmoke;
  font-family: var(--font-teko);
  font-size: 1.6rem;
  background-color: black;
  padding: 2px 16px 0 16px;
  border: 1px solid var(--color-purple);
  border-radius: 8px;
}

.link:hover {
  cursor: pointer;
  color: var(--color-purple);
}

@media (width < 450px) {
  .link {
    font-size: 1rem;
    padding: 4px 12px 2 12px;
  }
}
