.header {
  background-color: var(--color-bg);
  height: 16vh;
}

.h1 {
  text-align: center;
  font-size: 4.8rem;
  font-weight: 400;
  font-family: var(--font-teko);
  color: var(--color-purple);
}
