body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

.h2 {
  color: var(--color-purple);
  text-align: center;
  font-size: 2.8rem;
  margin-bottom: 1.2rem;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.6rem;
}

.p {
  /* text-align:center; */
  padding: 0.8rem 2rem;
}

.h3 {
  margin-top: 2.8rem;
  color: var(--color-purple);
  text-align: center;
  font-size: 2.8rem;
  margin-bottom: 1.2rem;
}

.gigs {
  max-width: 98vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  margin-bottom: 8rem;
}

.gig {
  width: clamp(16rem, 60vw, 36rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 1px rgba(245, 245, 245, 0.7);
  padding: 16px 8px;
  border-radius: 16px;
  position: relative;
}

.title {
  font-size: 2.4rem;
}

.going {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.2rem 1.4rem;
  min-width: 80%;
}

.h4 {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--color-purple);
  text-align: center;
  margin-bottom: 0.8rem;
}

.attendee {
  min-width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(245, 245, 245, 0.2);
  border-radius: 12px;
  padding: 0.4rem;
}

.gignav {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid var(--color-purple);
  border-radius: 8px;
  padding: 0.4rem 1.6rem;
  max-width: clamp(12rem, 100%, 48rem);
  margin: 0.4rem 0;
}

.link:hover {
  color: var(--color-purple);
}

.button {
  color: whitesmoke;
  font-family: var(--font-teko);
  font-size: 1.6rem;
  background-color: black;
  padding: 2px 16px 0 16px;
  border: 1px solid var(--color-purple);
  border-radius: 8px;
  text-align: center;
  min-width: 12vw;
  margin-top: 1.2rem;
}

.button:hover {
  color: var(--color-purple);
}

@media (width < 600px) {
  .h2,
  .h3 {
    font-size: 2rem;
  }
  .profile {
    gap: 0.4rem;
    font-size: 1.2rem;
  }
  .gig {
    width: 80vw;
  }
  .going {
    gap: 0.4rem, 0.8rem;
  }
  .attendee {
    font-size: 0.8rem;
    padding: 0.2rem;
    border-radius: 8px;
  }
  .link {
    padding: 0.4rem 0.8rem;
  }
}
