.h2 {
  color: whitesmoke;
  text-align: center;
  font-size: 2.4rem;
  margin:2rem;
}

.p {
  color: whitesmoke;
  text-align: center;
  font-size: 1.6rem;
  margin:2rem;
}


.form {
  margin-top:4rem;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.button {
  margin-top: 2rem;
  color: whitesmoke;
  font-family: var(--font-teko);
  font-size: 1.6rem;
  background-color: black;
  padding: 2px 16px 0 16px;
  border: 1px solid var(--color-purple);
  border-radius: 8px;
}

.button:hover {
  cursor: pointer;
  color: var(--color-purple);
}
